.hero__boxs{
  background-image: url("/images/Object.jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 137px 85px;
}

.hero__titles{
  font-family: "Fraunces" , "Verdana" , sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin: 0;
  margin-bottom: 24px;
}

.hero__textboxs{
  width: 445px;
}

.hero__texts{
  font-family: "Barlow" , "Verdana" , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  margin: 0;
}