.hero__box{
  background-image: url("/images/back.jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 130px 0 130px 86px;
}

.hero__trunk{
  width: 493px;
  margin-bottom: 32px;
}

.hero__title{
  font-family: "Fraunces" , "Arial" , sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  margin: 0;
}

.hero__speechbox{
  width: 445px;
  margin-bottom: 56px;
}

.hero__text{
  font-family: "Barlow" , "Arial" , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0;
}

.hero__link{
  font-family: "Fraunces" , "Arial" , sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  text-decoration: none;
  line-height: 25px;
  text-align: center;
  color: #FEFCF7;
  background: #0E8784;
  border-radius: 6px;
  padding: 15px 30px;
  
  &:hover{
    background: #66D2CF;
    border-radius: 6px;
  }.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: -o-linear-gradient(top, white, black);
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: linear-gradient(to bottom, white, black);
  }
  
}