.select__box{
  background-image: url("/images/fon.jpg");
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 112px 86px;
}

.select__title{
  font-family: "Fraunces", "Arial" , sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #FEFCF7;
  margin: 0;
}

.select__textbox{
  width: 540px;
  margin: 0 auto;
}

.select__text{
  font-family: "Barlow", "Arial" , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 0;
  margin-top: 32px;
}

.select__list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  margin-top: 86px;
  padding: 0;
}

.select__item{
  background-image: url("/images/Rectangle.svg");
  background-repeat: no-repeat;
  position: relative;
}


.select__img{
  display: block;
  margin: 0 auto; 
  margin-top: 72px;
  margin-bottom: 56px;
}

.select__img--new{
  margin-top: 96px;
}

.select__subtitle{
  font-family: "Fraunces", "Arial" , sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 0;
  color: #FEFCF7;
}

.select__packet{
  width: 255px;
  margin:24px 47px 48px 47px;
}

.select__subtext{
  font-family: "Barlow", "Arial" , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  margin: 0;
}